@font-face {
  font-family: 'Battambang';
  src: local('Battambang'), url(./fonts/Battambang-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative';
  src: local('CinzelDecorative'), url(./fonts/CinzelDecorative-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


